body {
    background-color: #333;
    height: 100vh;
}

.Header--height {
    height: 20%;
}

.Content--height {
    height: 70%;
}

.Footer--height {
    height: 10%;
}

.Border-custom {
    border-bottom: 0.25rem solid white;
}

.Border-custom-hover:hover {
    border-bottom: 0.25rem solid grey;

}