.Header--background {
  background-image: url(../bg-header1.png);
}
.Container--backgound--color,
.Tag--background--color {
  background-color: #222;
}

.Body--background--color {
  background-color: #333;
}

.Cards--background--color,
.Footer--background--color {
  background-color: #111;
}

.Bar--size {
  font-size: 50px;
}

.Content--carousel--size {
  width: 90%;
}

.Carousel--caption-bg {
  background: rgba(0, 0, 0, 0.8);
  /* width: 100%; */
  padding: 5px;
}

a {
  text-decoration: none !important;
  /* background: rgba(0, 0, 0, 0.8); */
}
.mouse-hover:hover{
  /* background: rgba(0, 0, 0, 0.9); */
  background-color: rgba(127, 129, 127, 0.658);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9)); */
}

.Cards--group--img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .Cards--group--img {
    height: 200px;
    width: 163.25px;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .Cards--group--img {
    height: 270px;
    width: 223.25px;
  }
}

/* Extra Large devices (desktops, more than 1200px)*/
@media (min-width: 1200px) {
  .Cards--group--img {
    height: 290px;
    width: 268.25px;
  }
}
